{% extends 'base.html.twig' %}

{% block title %}FamilyOfThrones{% endblock %}

{% block body %}
<div class='hometext'>
<h5>Bienvenue sur FamilyOfThrones , le site de référencement de Game Of Thrones.</h5>
  <p>Tu vas pouvoir découvrir ou redécouvrir les différentes familles de la célébre série ,
   ainsi que les différents territoires de Westeros et d'Essos .</p>
  <p> Tu trouveras à ta disposition, un service de billeterie en ligne.
   N'hésite pas à te connecter pour pouvoir contribuer au site .</p>
  <p> Bonne visite !</p>
</div>    
{% endblock %}
