{% extends 'base.html.twig' %}

{% block title %}Edit FamilyKingdom{% endblock %}

{% block body %}
    <h1>Edit FamilyKingdom</h1>

    {{ include('family_kingdom/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('family_kingdom_index') }}">back to list</a>

    {{ include('family_kingdom/_delete_form.html.twig') }}
{% endblock %}
