{% extends 'base.html.twig' %}

{% block title %}Billeterie{% endblock %}

{% block body %}
    <h1>Billeterie</h1>
        {% for ticket in tickets %}
        <div class="card bg-dark text-white">
            <a href="{{ path('ticket_show', {'id': ticket.id}) }}"><img src="{{ ticket.picture }}" class="card-img" alt=""></a>
        </div>
        {% endfor %}

    <a href="{{ path('ticket_new') }}">Create new</a>
{% endblock %}
